<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Login</title>
</head>
<body class="auth-page">
<div class="grid-tiles">
<div class="tile">
  <h1>Login</h1>

  <form th:action="@{/login}" method="post">
    <label>
      Username:
      <input name="username" required/>
    </label>

    <label>
      Password:
      <input type="password" name="password" required/>
    </label>

    <button type="submit">Login</button>
  </form>
  <a href="/register">Register here!</a>

  <p th:if="${param.error}" style="color:red;">Invalid credentials</p>
  <p th:if="${param.logout}" style="color:green;">Logged out</p>
  <p th:if="${message}" th:text="${message}"></p>
</div>
</div>
</body>
</html>