<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Edit Task</title>
</head>
<body>
<div class="navbar-container">
  <div th:replace="navbar :: navbar"></div>
  <div th:replace="workplace-navbar :: workplaceNavbar(${workplace_id})"></div>
</div>

<h1>Edit Task</h1>
<div class="grid-tiles">
  <div class="tile">
  <form th:action="@{'/workplaces/' + ${workplace_id} + '/tasks/edit'}" th:object="${task}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title: <input type="text" th:field="*{title}" required /></label>
    <label>Description: <textarea th:field="*{description}" required></textarea></label>
    <button type="submit">Save</button>
  </form>
  <a th:href="@{'/workplaces/' + ${workplace_id} + '/tasks'}">Back to list</a>
  </div>
</div>
</body>
</html>
