<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profiles</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar-container">
    <div th:replace="navbar :: navbar"></div>
    <div th:replace="workplace-navbar :: workplaceNavbar(${workplace_id})"></div>
</div>

<h1>Profiles</h1>
<div class="list-table-container">
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile : ${profiles}">
            <td th:text="${profile.user.username}">Username</td>
            <td>
                <span>
                <form th:action="@{'/workplaces/' + ${workplace_id} + '/profiles/' + ${profile.id} + '/set-group'}"
                      method="post">
                <select name="group_id" onchange="this.form.submit()">
                    <option value="" disabled th:selected="${profile.workplaceGroup == null}">Choose group</option>
                    <option th:each="group : ${groups}"
                            th:value="${group.id}"
                            th:text="${group.name}"
                            th:selected="${profile.workplaceGroup != null && profile.workplaceGroup.id == group.id}">
                    </option>
                </select>
            </form>
            </span>
            </td>
            <td>
                <form th:action="@{'/workplaces/' + ${workplace_id} + '/profiles/' + ${profile.id} + '/delete'}"
                      method="post">
                    <button type="submit" onclick="return confirm('Remove this profile?')">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
