<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Categories</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar-container">
  <div th:replace="navbar :: navbar"></div>
  <div th:replace="workplace-navbar :: workplaceNavbar(${workplace_id})"></div>
</div>

<h1>Categories</h1>
<div class="list-table-container">
<table>
  <colgroup>
    <col class="col-title">
    <col class="col-actions">
  </colgroup>
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <form th:action="@{'/workplaces/' + ${workplace_id} + '/categories/create'}" th:object="${category}" method="post">
      <td>
        <input type="text" th:field="*{name}" placeholder="Category Title" required/>
      </td>
      <td>
        <input type="submit" value="Add Category">
      </td>
    </form>
  </tr>
  <tr th:each="category : ${categories}">
    <td th:text="${category.name}">Category Name</td>
    <td>
      <a th:href="@{'/workplaces/' + ${workplace_id} + '/categories/edit?category_id=' + ${category.id}}">
        <button type="button">Edit</button>
      </a>

      <form th:action="@{'/workplaces/' + ${workplace_id} + '/categories/delete'}" method="post">
        <input type="hidden" name="category_id" th:value="${category.id}"/>
        <button type="submit" onclick="return confirm('Delete this category?')">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>