<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>Edit Group</title>
</head>
<body>
<div class="navbar-container">
  <div th:replace="navbar :: navbar"></div>
  <div th:replace="workplace-navbar :: workplaceNavbar(${workplace_id})"></div>
</div>

<h1>Edit Group</h1>
<div class="grid-tiles">
  <div class="tile">
    <form th:action="@{'/workplaces/' + ${workplace_id} + '/groups/edit'}"
          th:object="${workplaceGroup}" method="post">

      <input type="hidden" th:field="*{id}"/>

      <label>Name:
        <input type="text" th:field="*{name}" required/>
      </label>

      <button type="submit">Update</button>
      <a th:href="@{'/workplaces/' + ${workplace_id} + '/groups'}">Cancel</a>
    </form>
  </div>
</div>
</body>
</html>