<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Workplace Groups</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar-container">
  <div th:replace="navbar :: navbar"></div>
  <div th:replace="workplace-navbar :: workplaceNavbar(${workplace_id})"></div>
</div>

<h1>Workplace Groups</h1>
<div class="list-table-container">
<table>
  <colgroup>
    <col class="col-title">
    <col class="col-actions">
  </colgroup>
  <thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <form th:action="@{'/workplaces/' + ${workplace_id} + '/groups/create'}" th:object="${group}" method="post">
      <td>
        <input type="text" th:field="*{name}" placeholder="Group Name" required/>
      </td>
      <td>
        <input type="submit" value="Add Group">
      </td>
    </form>
  </tr>
  <tr th:each="group : ${groups}">
    <td th:text="${group.name}">Group Name</td>
    <td>
      <a th:href="@{'/workplaces/' + ${workplace_id} + '/groups/edit?group_id=' + ${group.id}}">
        <button type="button">Edit</button>
      </a>
      <form th:action="@{'/workplaces/' + ${workplace_id} + '/groups/delete'}" method="post">
        <input type="hidden" name="group_id" th:value="${group.id}"/>
        <button type="submit" onclick="return confirm('Delete this group?')">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>