<!-- File: templates/workplace-navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Navbar Example</title>
</head>
<body>
  <div th:fragment="workplaceNavbar(workplaceId)">
    <nav>
      <ul>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/tasks'}">Tasks</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/categories'}">Categories</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/groups'}">Groups</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/profiles'}">Profiles</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>