<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Workplace Navbar</title>
</head>
<body>
  <div th:fragment="workplaceNavbar(workplaceId)">
    <nav>
      <ul>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/tasks'}">Tasks</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/categories'}">Categories</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/groups'}">Groups</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/profiles'}">Profiles</a>
        </li>
        <li>
          <a th:href="@{'/workplaces/' + ${workplace_id} + '/recurrences'}">Recurrences</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>